<!DOCTYPE html>
<html>
<head>
	<title>feelings fm</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='stylesheet.css')}}"/>
</head>
<body>
	<div class="center" id ="container">
		<div id="content">
			<h1>FEELINGS FM</h1>
			<form action="/" method="post">
		    <textarea type="text" id="feels" name="feels" rows="8" placeholder="how are you feeling?"></textarea><br />
		    <button type="submit">make playlist</button>
	    </form>
		</div>
		<div id="player">
		{% if songids %}
			<iframe src="https://embed.spotify.com/?uri=spotify:trackset:yrfeels:{{songids}}" frameborder="0" allowtransparency="true"></iframe>
		{% endif %}
		</div>
		<div id="footer">
			<p>made with <a href="http://the.echonest.com/">the echo nest</a> and <a href="http://spotify.com/">spotify</a> | <a href="https://github.com/amandapickering/feelingsfm">source</a>
		</div>
	</div>
</body>
</html>
